/*Below is the header styles*/
header{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
    font-family: 'LA Web Display Kis Bold';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.eot');
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.woff') format('woff'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'LA Web Display Kis Bold', Georgia, serif;
	font-size: 56px;
	line-height: 57.5px;
	font-weight: normal;
	color: #000000;
	margin: 4px 0 10px;
	max-width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.byline {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	display: block;
	color: #000000;
}

.dateline{
	font-family: 'Benton Gothic Regular',Arial,sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	color: #333333;
}

p {
	font-family: Georgia, serif;
	line-height: 1.618em;
	font-size: 19px;
	margin: 24px 0;
	color: #333333;
	overflow-wrap: break-word;
	}

/*Below is the body styles*/
.CenterDiv, .description {
	display: block;
	margin: 0px auto;
	width: 100%;
	max-width: 900px;
	overflow: auto;
}

.heading1{
	display: block;
    font-size: 30px;
    line-height: 20px;
    font-family: 'Belizio Narrow SemiBold',Georgia,serif;
    color: #000000;
    margin: 70px 0 0px 0;
    text-align: center;
}


.triple {
	width: 30%;
/*	min-width: 270px;*/
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 0 3% 0 0;
	float: left;
	}

